<p></p>
<div style="display: flex; align-items: center; margin-bottom: 20px">
  <div style="flex: 1; min-width: 150px; max-width: 200px; padding-right: 20px">
    <img
      src="assets/img/gt.png"
      alt="gtlogo"
      style="width: 80%; height: auto"
    />
  </div>

  <div style="flex: 3">
    <p style="font-weight: bold; margin: 0; font-size: 22px">
      Graduate Student in Computer Science, School of Interactive Computing
    </p>
    <p style="margin: 5px 0">Georgia Institute of Technology</p>
    <p style="margin: 0">Aug. 2025 - Present</p>
  </div>
</div>

<div style="display: flex; align-items: center; margin-bottom: 20px">
  <div style="flex: 1; min-width: 150px; max-width: 200px; padding-right: 20px">
    <img
      src="assets/img/bjtu.png"
      alt="bjtulogo"
      style="width: 80%; height: auto"
    />
  </div>

  <div style="flex: 3">
    <p style="font-weight: bold; margin: 0; font-size: 22px">
      B.S., School of Computer Science & Technology
    </p>
    <p style="margin: 5px 0">Beijing Jiaotong University</p>
    <p style="margin: 0">Sept. 2021 - June 2025.</p>
  </div>
</div>
<p></p>

<style>
  .experience-item {
    clear: both;
    padding: 10px 0;
  }
  .experience-item img {
    vertical-align: middle;
  }
  .experience-item p {
    margin: 5px 0;
  }
</style>
