<p></p>
<div style="display: flex; align-items: center; margin-bottom: 20px">
  <div style="flex: 1; min-width: 150px; max-width: 200px; padding-right: 20px">
    <img
      src="assets/img/shi.jpg"
      alt="shilogo"
      style="width: 100%; height: auto"
    />
  </div>

  <div style="flex: 3">
    <p style="font-weight: bold; margin: 0; font-size: 22px">Researcher</p>
    <p style="margin: 5px 0">
      Mentor:
      <a href="https://www.humphreyshi.com/" style="color: #b3a369"
        >Humphrey Shi</a
      >
    </p>
    <p style="margin: 5px 0">
      <a href="https://www.shi-labs.com/" style="color: #b3a369">SHI Labs</a>,
      Interactive Computing @ Georgia Tech
    </p>
    <p style="margin: 0">Jun. 2024 - Present</p>
  </div>
</div>

<div style="display: flex; align-items: center; margin-bottom: 20px">
  <div style="flex: 1; min-width: 150px; max-width: 200px; padding-right: 20px">
    <img
      src="assets/img/KEG.png"
      alt="keglogo"
      style="width: 100%; height: auto"
    />
  </div>

  <div style="flex: 3">
    <p style="font-weight: bold; margin: 0; font-size: 22px">
      Visiting Student
    </p>
    <p style="margin: 5px 0">
      Mentor:
      <a href="https://keg.cs.tsinghua.edu.cn/jietang/" style="color: #660874"
        >Jie Tang</a
      >
    </p>
    <p style="margin: 5px 0">
      <a href="https://keg.cs.tsinghua.edu.cn/" style="color: #660874"
        >Knowledge Engineering Group(KEG)</a
      >, Tsinghua University
    </p>
    <p style="margin: 0">May. 2023 - Sept. 2023</p>
  </div>
</div>

<div style="display: flex; align-items: center; margin-bottom: 20px">
  <div style="flex: 1; min-width: 150px; max-width: 200px; padding-right: 20px">
    <img
      src="assets/img/wei_logo.jpeg"
      alt="Weilab Logo"
      style="width: 100%; height: auto"
    />
  </div>

  <div style="flex: 3">
    <p style="font-weight: bold; margin: 0; font-size: 22px">
      Undergraduate Researcher
    </p>
    <p style="margin: 5px 0">
      Mentor:
      <a href="https://weiyc.github.io/index.html" style="color: #1e50a2"
        >Yunchao Wei</a
      >
    </p>
    <p style="margin: 5px 0">
      <a href="https://weiyc.github.io/index.html" style="color: #1e50a2"
        >WEI Lab</a
      >, Beijing Jiaotong University
    </p>
    <p style="margin: 0">Apr. 2022 - Present</p>
  </div>
</div>
<p></p>

<style>
  .experience-item {
    clear: both;
    padding: 10px 0;
  }
  .experience-item img {
    vertical-align: middle;
  }
  .experience-item p {
    margin: 5px 0;
  }
</style>
