---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold"
        >{{ site.first_name }}</span
      >
      {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%-
      endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile -%}
    <div
      class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}"
      style="width: 240px"
    >
      {%- if page.profile.image %} {%- assign profile_image_path =
      page.profile.image | prepend: 'assets/img/' -%} {% if
      page.profile.image_circular %} {%- assign profile_image_class = "img-fluid
      z-depth-1 rounded-circle" -%} {% else %} {%- assign profile_image_class =
      "img-fluid z-depth-1 rounded" -%} {% endif %} {% include figure.html
      path=profile_image_path class=profile_image_class alt=page.profile.image
      -%} {% endif -%} {%- if page.profile.address %}
      <div class="address">{{ page.profile.address }}</div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled -%}
    <h2>
      <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
    </h2>
    {%- include news.html limit=true %} {%- endif %}

    <!-- Latest posts -->
    {% if page.latest_posts -%}
    <h2>
      <a href="{{ '/blog/' | relative_url }}" style="color: inherit"
        >latest posts</a
      >
    </h2>
    {%- include latest_posts.html %} {%- endif %}

    <!-- Experience -->
    {% if page.education -%}
    <h2>
      <a href="{{ '/education/' | relative_url }}" style="color: inherit"
        >Education</a
      >
    </h2>
    {%- include education.html %} {%- endif %}

    <!-- Experience -->
    {% if page.experiences -%}
    <h2>
      <a href="{{ '/experiences/' | relative_url }}" style="color: inherit"
        >Experiences</a
      >
    </h2>
    {%- include experiences.html %} {%- endif %}

    <!-- Selected papers -->
    {% if page.selected_papers -%}
    <h2>
      <a href="{{ '/publications/' | relative_url }}" style="color: inherit"
        >Publications</a
      >
    </h2>
    {%- include selected_papers.html %} {%- endif %}

    <!-- Service -->
    {% if page.service -%}
    <h2>
      <a href="{{ '/service/' | relative_url }}" style="color: inherit"
        >Service</a
      >
    </h2>
    {%- include service.html %} {%- endif %}

    <style>
      #globe-container {
        width: 100px;
        height: 100px;
      }

      /* Bold publication titles */
      .publications .title {
        font-weight: 515 !important;
      }

      /* Make bold text in publications even bolder */
      .publications .periodical b,
      .publications b {
        font-weight: 515 !important;
      }
    </style>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >
      <!-- Social -->
      {%- if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.html %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
      {%- endif %}
    </div>

    <!-- <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >
      <div id="globe-container">
        <script
          type="text/javascript"
          id="clstr_globe"
          src="//clustrmaps.com/globe.js?d=IUq-qeoK8htQ5yBMPYD3ANBQGDxRWPSR6_LFXNUDPk4"
        ></script>
      </div>
    </div> -->
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=IUq-qeoK8htQ5yBMPYD3ANBQGDxRWPSR6_LFXNUDPk4&cl=ffffff&w=a"></script>
  </article>
</div>
